@{
    ViewData["Title"] = "Nyt spil klar!";
}
@model battleship.Models.Game

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<h2>Players:</h2>
<p>Brug linksne nedenfor for at spille</p>
<ul>
@foreach (var player in Model.Players)
{
    <li><a href="@Url.RouteUrl("SetupPlayer", new{ playerId = player.PlayerId})" target="_blank">@player.Name</a></li>
}
</ul>