@{
    ViewData["Title"] = Model.Name;
}
@model battleship.Models.Player

<script type="text/javascript">
  setTimeout(function(){
    location = ''
  },5000)
</script>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h2>Modstander</h2>

@Model.LastShot

@DateTime.Now