@{
    ViewData["Title"] = "Venter på tur";
}

<script type="text/javascript">
  setTimeout(function(){
    location = ''
  },3000)
</script>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h2>Venter på tur</h2>
